.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border-bottom: 1px solid #262626;
    font-size: 1.125rem;
    background-color: var(--background);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 32px;
    border-bottom: 1px solid #262626;
    background-image: url(../../assets/images/Banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner.hidden {
    display: none;
}

.banner p {
    color: white;
}

.banner a {
    color: white;
    padding-inline: 10px;
}

.banner div {
    width: 24px;
    display: hidden;
}

.banner-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1px;
    padding-bottom: 1px;
    height: 24px;
    width: 24px;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.banner-close:hover {
    cursor: pointer;
}

.banner-close my-icon {
    width: 12px;
    height: 12px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
}

.nav-links a.active {
    padding: 16px 24px;
    border-radius: 10px;
    background-color: var(--gray);
    border: solid 1px #262626;
}

header .mobileHeader {
    display: none;
}
@media (max-width: 1024px) {
    .header .mobileHeader {
        display: flex;
    }
    header .desktopHeader {
        display: none;
    }

    header .mobileHeader .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        background-color: var(--background);
        opacity: 0;
        z-index: -2;
        transition: 0.4s ease all;
    }

    header .mobileHeader .nav-links.open {
        opacity: 1;
        z-index: 2;
    }
    header .mobileHeader .nav-links a{
        font-size: 2rem;
    }

    header .mobileHeader .closeMenu {
        position: fixed;
        top: 1.85rem;
        right: 1rem;
        color: var(--white);
    }

    .desktopHeader .nav-links {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        height: 100vh;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}
