.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 150px 400px 100px 162px;
}

.contact-page-text {
    display: flex;
    gap: 14px;
    justify-content: flex-start;
    flex-direction: column;
}

.contact-page-text h1 {
    font-weight: 600;
    font-size: 48px;
    color: white;
}
.contact-page-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #999999;
}

.connect-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connect-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin-block: 80px;
    padding-inline: 150px;
}

.connect-text {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    flex-direction: column;
}

.connect-text h1 {
    font-weight: 600;
    font-size: 48px;
    color: white;
}

.connect-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #999999;
}
.contact-section {
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row {
    display: flex;
    gap: 30px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.field.full textarea {
    height: 180px;
}

label {
    color: #cfcfcf;
    font-size: 14px;
}

input,
select,
textarea {
    width: 100%;
    padding: 14px;
    background: #0f0f0f;
    border: 1px solid #333;
    border-radius: 6px;
    color: white;
    font-size: 14px;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkbox {
    display: flex;
    gap: 10px;
    color: #cfcfcf;
    font-size: 14px;
}

.checkbox a {
    color: white;
}

.btn-send {
    background: #7a3dfb;
    padding: 14px 34px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 12px;
    margin-left: 140px;
}

.tab {
    background: #111;
    color: #ffffff;
    border: 1px solid #262626;
    padding: 10px 26px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
}

.tab:hover {
    border-color: #444;
}

.cards-locations {
    max-width: 1500px;
    margin: 40px auto;
    display: flex;
    gap: 24px;
    margin-left: 140px;
    margin-right: 140px;
}

.main-headquartes {
    background: #111217;
    border: 1px solid;
    border-radius: 18px;
    padding: 32px;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
}

.main-headquartes h3 {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.main-headquartes h1 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.main-headquartes p {
    color: #999999;
    line-height: 1.6;
    margin-bottom: 26px;
}
.infos-main-headquartes {
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    margin-bottom: 28px;
}

.infos-content {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    border-radius: 999px;
    background: #14151c;
    border: 1px solid black;
    color: white;
}

.btn-direction {
    width: 100%;
    padding: 14px 20px;
    background: #7c3aed;
    border: none;
    border-radius: 999px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.explore-card {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.explore {
    max-width: 1180px;
    width: 100%;
    background: #111;
    border-radius: 24px;
    border: 1px solid #262626;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
}
.explore-image {
    display: flex;
    gap: 16px;
}
.images-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.images-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.images-right-bottom {
    display: flex;
    gap: 16px;
}

.explore-image img,
.images-bottom img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.big {
    height: 158px;
}

.small {
    height: 158px;
}

.images-left img {
    height: 158px;
}
.images-bottom img {
    height: 200px;
}

.text-bottom {
    display: flex;
    gap: 24px;
    align-items: center;
}

.explore-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 16px;
}

.explore-text h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
}

.explore-text p {
    font-size: 0.95rem;
    line-height: 1.7;
    color: #c4c4c4;
    max-width: 28rem;
}

.images-bottom {
    flex: 1;
}
