*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.propertyDetailsWraper{
    padding-left: 162px;
    padding-right: 162px;
    padding-top: 120px;
    background-color: #141414;
}

.shortDetailsOfProperties{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.nameinDetails{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.nameinDetails p{
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 10px;
}

.priceInDetails{
    display: flex;
    flex-direction: column;
}

.priceInDetails p{
    color: #999999;
}

.propertiesContainer{
    background-color: #1A1A1A;
    border: 1px solid  #262626;
    border-radius: 12px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.propertiesSmallPictures{
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.propertiesSmallPictures img{
    width: 12%;
    height: 64px;
}

.propertiesBigPictures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.propertiesBigPictures img{
    width: 50%;
}

.descriptionAndFeaturesContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.descriptionContainer{
    width: 50%;
    border-radius: 12px;
    border: 1px solid #262626;
    padding: 50px;
    color: white;
}

.descriptionContainer p{
    padding-bottom: 50px;
    border-bottom: 1px solid #262626;
    margin-top: 14px;
}

.specificsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px; 
    
}

.specificsOnDescription{
    display: flex;
    flex-direction: column;
}

.iconAndNameContainer{
    display: flex;
    flex-direction: row;
}

.keyAndFeaturesContainer{
    width: 50%;
    border-radius: 12px;
    border: 1px solid #262626;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h1{
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 150%;
}

.keyAndFeaturesContainer h3{
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 150%;
}

p{
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 150%;    
}

.detailsOnFeaturesContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.detailsOnFeatures{
    background: linear-gradient(to right, #1A1A1A 100%, transparent);
    display: flex;
    flex-direction: row;
    justify-self: center;
    border-left: 1px solid #703BF7;
    padding-left: 10px;
}












