p{
    color: #999999;
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 150%;
}

h3{
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 150%;
}

.propertyDetailsWraper{
    padding-left: 162px;
    padding-right: 162px;
    padding-top: 120px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
}

.shortDetailsOfProperties {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}

.shortDetailsOfProperties h1{
    white-space: nowrap
}

.infoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.locationInDetails {
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 10px;
}

.propertiesContainer{
    background-color: #1A1A1A;
    border: 1px solid  #262626;
    border-radius: 12px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.propertiesSmallPictures{    
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.propertiesSmallPictures img{
    width: 12%;
    height: 64px;
    border-radius: 6px;
}

.propertiesBigPictures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.propertiesBigPictures img{
    width: 50%;
}

.descriptionAndFeaturesContainer{
    display: flex;
    gap: 30px;
}

.descriptionContainer{
    height: 100%;
    width: 50%;
    border-radius: 12px;
    border: 1px solid #262626;
    padding: 50px;
    color: white;
}

.descriptionParagraph{
    padding-bottom: 50px;
    border-bottom: 1px solid #262626;
    margin-top: 14px;
}

.specificsContainer{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px; 
}

.specificsOnDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 150%;
}

.specificsOnDescription:not(:last-child) {
    border-right: 1px solid #262626;
    padding-right: 40px;
}

.iconAndNameContainer{
    display: flex;
    gap: 6px;
}

.keyAndFeaturesContainer{
    width: 50%;
    border-radius: 12px;
    border: 1px solid #262626;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: fit-content;
}

.detailsOnFeaturesContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.detailsOnFeatures{
    background: linear-gradient(to right, #1A1A1A, transparent);
    height: 60px;
    display: flex;
    justify-self: center;
    align-items: center;
    border-left: 1px solid #703BF7;
    padding-left: 27px;
}

.interestedContainer {
    display: flex;
    gap: 100px;
    color: white;
    margin-top: 150px;
}

.interestedTitle {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.interestedTitle p{
    color: #999999;
}

.interestedContainer .contactusContainer {
    width: 70%;
}

.mainFormContainer{
    margin-bottom: 150px;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 50px;
}

.mainForm{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.formRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.formRow > .questions {
    width: 50%;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    gap: 16px;
}

.inputTable{
    background-color: #1A1A1A;
    color: #666666;
    padding: 14px 20px 14px 20px;
    border: solid 1px #262626;
    border-radius: 8px;
}

.budgetFormRow {
    display: block;
}

.contactMethod{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.messageFormRow{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.messageInputTable{
    height: 140px;
    width: 100%;
    background-color: #1A1A1A;
    color: #666666;
    padding: 24px 20px 24px 20px;
    border: solid 1px #262626;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.termsFormRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.termsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.termsContainer input{
    width: 28px;
    height: 28px;
    border: solid 1px #262626;
    border-radius: 4px;
}

.termsContainer label{
    color: #4C4C4C;
}

.comprehensivePricingDetails{
    margin-inline: 162px;
}

.values-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.values-text h1 {
    font-size: 2.4rem;
    color: var(--white);
    line-height: 1.3;
}

.values-text p{
    margin-bottom: 80px;
}

.notesContainer{
    color: white;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    border: solid 1px #262626;
    border-radius: 12px;
    gap: 20px;
    margin-bottom: 50px;
}

.notesContainer p{
    border-left: 1px solid #262626;
    padding-left: 20px;
    color: #999999;
}

.listingPriceContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.listingPriceText{
    width: 20%;
}

.detailsOnListingPriceMainContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.detailsOnListingPriceContainer {
    width: 100%;
    color: white;
}

.additionalFeesContainer {
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #262626;
}

.additionalFeesText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.additionalFeesText h1 {
    font-size: 22px;
    font-weight: 600;
}

.feesRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #262626;
    padding: 25px 0;
    gap: 40px;
}

.feeBox{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.feeBox p {
    margin: 0;
}

.feeTitle {
    color: #999;
    font-size: 15px;
}

.runOutOfNamesDIV{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.feeDescription {
    background: #1a1a1a;
    border: 1px solid #262626;
    padding: 8px 14px;
    border-radius: 18px;
    font-size: 13px;
    color: #999999;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .propertyDetailsWraper{
        padding-inline: 20px;
    }

        .propertiesContainer {
        padding: 20px;
        gap: 20px;
    }

    .propertiesSmallPictures {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .propertiesSmallPictures img {
        width: 25%;
        height: 60px;
    }

    .propertiesSmallPictures img:nth-of-type(n+5) {
        display: none;
    }

    .propertiesBigPictures {
        gap: 10px;
    }

    .propertiesBigPictures img {
        width: 100%;
    }

    .propertiesBigPictures img:nth-of-type(n+2) {
        display: none;
    }

    .shortDetailsOfProperties {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .infoRow {    
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        width: 100%;
    }
    .mainFormContainer {
        padding: 20px;
        min-width: 500px;
    }

    .formRow,
    .budgetFormRow,
    .contactMethod,
    .termsFormRow {
        flex-direction: column;
        gap: 16px;
        align-items: stretch;
    }

    .questions,
    .contactMethod > div,
    .budgetFormRow > div {
        width: 100%;
    }

    .messageInputTable {
        width: 100%;
    }

    .termsFormRow > custom-button {
        width: 100%;
     }
    .interestedContainer{
        flex-direction: column;
    }

    .interestedTitle{
        min-width: 500px;
    }
    .values-text{
        min-width: 500px;
    }
    .descriptionAndFeaturesContainer{
        flex-direction: column;
    }

    .descriptionContainer {
        min-width: 500px;
        box-sizing: border-box;
        padding: 20px;
    }
    .specificsContainer {
        flex-direction: column;
        gap: 20px;
    }

    .specificsContainer .specificsOnDescription:nth-child(1),
    .specificsContainer .specificsOnDescription:nth-child(2) {
        padding-bottom: 20px;
        border-right: none;
        border-bottom: #262626 1px solid;
    }

    .specificsContainer .specificsOnDescription:nth-child(3) {
        margin-top: 20px;
    }
    .detailsOnFeaturesContainer{
        min-width: 400px;
    }
    .keyAndFeaturesContainer{
        min-width: 500px;
        padding: 20px;
    }

    .comprehensivePricingDetails{
        margin-inline: 20px;  
        min-width: 500px;
    }

    .feesRow{
        display: flex;
        flex-direction: column;
    }
    .listingPriceContainer{
        display: flex;
        flex-direction: column; 
        gap: 20px; 
    }
    .detailsOnListingPriceMainContainer{
        min-width: 500px;
    }
          custom-slider {
        margin-top: 200px;
        display: block;
    }
}













