.services-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    margin-block: 9rem;
}

.services-hero-text {
    display: flex;
    gap: 18px;
    justify-content: flex-start;
    flex-direction: column;
}

.services-hero-text h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: #ffffff;
}

.services-hero-text p {
    margin-right: 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #c5c6c7;
    max-width: 80%;
}

.selling-hero {
    width: 100%;
    padding: 90px 0 40px;
}

.selling-hero-content {
    max-width: 1200px;
    margin: 0 120px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 100px;
}

.selling-hero-text h1 {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: #ffffff;
}

.selling-hero-text p {
    margin: 0 10px;
    margin-right: 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #999999;
    max-width: auto;
}

.selling-feature {
    border: 1px solid #222;
    border-radius: 12px;
    padding: 50px;
    margin-block: 15px;
    margin-left: -750px;
    width: 480px;
    color: #999999;
    background-color: var(--gray);
}

.selling-box-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 14px;
}

.selling-box-header h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
}

.selling-box-text {
    font-size: 15px;
    margin-top: 8px;
}
