.services-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    margin-block: 150px;
}

.services-hero-text {
    display: flex;
    gap: 18px;
    justify-content: flex-start;
    flex-direction: column;
}

.services-hero-text h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 48px;
    color: white;
}

.services-hero-text p {
    margin-right: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #999999;
    max-width: 80%;
}
