.services-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    margin-block: 9rem;
}

.services-hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.services-hero-text h1 {
    width: 60%;
    font-size: 3.5rem;
    color: var(--white);
}

.services-hero-text p {
    font-size: 1.125rem;
    width: 60%;
    color: #999999;
}

.hero-info-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
