.btn {
    padding: 16px 24px;
    background-color: var(--gray);
    border: solid 1px #262626;
    border-radius: 10px;
    color: var(--white);
    font-size: 1.125rem;
}

.ghost-btn{
    background-color: var(--gray);
}

.btn:hover {
    cursor: pointer;
}
