.btn {
    padding: 16px 24px;
    border-radius: 10px;
    color: var(--white);
    font-size: 1.125rem;
}

.dark-btn{
    background-color: var(--gray);
    border: solid 1px #262626;
}

.ghost-btn{
    background-color: var(--background);
    border: solid 1px #262626;
}

.purple-btn{
    background-color: var(--purple);
    border: solid 1px var(--purple);
}

.btn:hover {
    cursor: pointer;
}
