<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="index.css" />
        <link rel="stylesheet" href="../../styles/global.css" />
        <script src="../icons/icons.js"></script>
        <script src="../button/button.js"></script>
        <script src="../slider/slider.js"></script>
    </head>
    <body>
        <section>
            <div class="slider-section container">
                <div class="slider-header">
                    <my-icon iconName="sparks" class="sparks"></my-icon>
                    <div class="slider-header-text">
                        <h1>Featured Properties</h1>
                        <p>
                            Explore our handpicked selection of featured
                            properties. Each listing offers a glimpse into
                            exceptional homes and investments available through
                            Estatein. Click "View Details" for more information.
                        </p>
                    </div>
                    <div class="slider-view-all-btn">
                        <custom-button
                            type="ghost-btn"
                            name="View All ${type}"
                        ></custom-button>
                    </div>
                </div>
                <div class="carousel">
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                    <div class="carousel-item">
                        Card
                    </div>
                </div>
                <div class="slider-number">
                    <p><strong>01</strong> of 10</p>
                </div>
            </div>
        </section>
    </body>
</html>
