.slider-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
    padding-block: 75px;
}

.slider-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 140px;
}

.sparks{
    position: absolute;
    top: -15px;
    left: -15px;
}

.slider-header-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
    gap: 10px;
}

.slider-header-text h1{
    font-size: 3rem;
    color: var(--white);
}

.slider-header-text p{
    font-size: 1.125rem;
    color: #999999;
}

.slider-view-all-btn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20%;
    height: 100%;
}

.carousel{
    width: 100%;
    overflow-x: auto;
    margin: 3rem auto;
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel-item-properties{
    scroll-snap-align: start;
    flex: 0 0 25.5rem;
    overflow: hidden;
    background-color: var(--gray);
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    border: 1px solid #262626;
    border-radius: 12px;
    background-color: var(--gray);
    gap: 30px;
}

.carousel-item-properties-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
}

.carousel-item-properties-text h2{
    color: var(--white);
    font-size: 1.5rem;
}

.carousel-item-properties-text p{
    font-size: 1.125rem;
    color: #999999;
    text-align: left;
}

.carousel-item-properties-text a{
    color: var(--white);
    cursor: pointer;
    font-size: 1.125rem;
    text-decoration: underline;
}

.slider-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid #262626;
    padding-top: 20px;
}

.slider-number p{
    color: var(--white);
}

.carousel-item-properties-info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.carousel-item-properties-info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--background);
    border: 1px solid #262626;
    border-radius: 28px;
    padding: 7px 10px;
}

.carousel-item-properties-info-box p{
    color: var(--white);
    font-size: 0.90rem;
}

.carousel-item-properties-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-item-properties-price div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.carousel-item-properties-price p{
    font-size: 1.125rem;
    color: #999999;
}

.carousel-item-properties-price h2{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 400;
}

.slider-arrow{
    display: flex;
    gap: 10px;
}

.slider-arrow my-icon{
    background-color: var(--gray);
    height: 58px;
    width: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item-faq{
    flex: 0 0 25.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
    gap: 30px;
    border-radius: 12px;
    border: 1px solid #262626;
}

.carousel-item-faq h2{
    font-size: 1.5rem;
    color: var(--white);
    font-size: 400;
}

.carousel-item-faq p{
    font-size: 1.125rem;
    color: #999999;
}

.carousel-item-testimonials{
    flex: 0 0 25.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    padding: 50px;
    background-color: var(--gray);
    border: 1px solid #262626;
    border-radius: 12px;
}

.stars{
    display: flex;
    gap: 10px;
}

.stars my-icon{
    padding: 10px;
    background-color: var(--gray);
    border: 1px solid #262626;
    border-radius: 50%;
}

.testimonials-text{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--white);
}

.testimonials-user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.testimonials-user-info h3{
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 400;
}

.testimonials-user-info p{
    color: #999999;
    font-size: 1.125rem;
}