.slider-section{
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: flex-start;
    justify-content: space-between;
}

.slider-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 140px;
}

.sparks{
    position: absolute;
    top: -15px;
    left: -15px;
}

.slider-header-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
    gap: 10px;
}

.slider-header-text h1{
    font-size: 3rem;
    color: var(--white);
}

.slider-header-text p{
    font-size: 1.125rem;
    color: #999999;
}

.slider-view-all-btn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20%;
    height: 100%;
}

.carousel{
    width: 100%;
    overflow-x: auto;
    margin: 3rem auto;
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel::scroll-button{
    display: flex;
    align-items: center;
}

.carousel::scroll-button(right), .carousel::scroll-button(left){
    content: "➜";
    border: none;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--background);
    height: 58px;
    width: 58px;
    border-radius: 50%;
    border: 1px solid #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel::scroll-button(left){
    content: "➜";
    transform: scaleX(-1);
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled{
    opacity: 0.3;
    cursor: auto;
}

.carousel-item{
    scroll-snap-align: start;
    flex: 0 0 20rem;
    overflow: hidden;
    height: 12rem;
    background-color: var(--white);
    padding: 1rem;
    text-align: center;
    align-content: center;
}

.slider-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid #262626;
    padding-top: 20px;
}

.slider-number p{
    color: var(--white);
}

.slider-arrow{
    display: flex;
    gap: 10px;
}

.slider-arrow my-icon{
    background-color: var(--gray);
    height: 58px;
    width: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}