.carousel-item{
    scroll-snap-align: start;
    flex: 0 0 25.5rem;
    overflow: hidden;
    background-color: var(--gray);
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    border: 1px solid #262626;
    border-radius: 12px;
    background-color: var(--gray);
    gap: 30px;
}

.carousel-item-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
}

.carousel-item-text h2{
    color: var(--white);
    font-size: 1.5rem;
}

.carousel-item-text p{
    font-size: 1.125rem;
    color: #999999;
    text-align: left;
}

.slider-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid #262626;
    padding-top: 20px;
}

.slider-number p{
    color: var(--white);
}

.carousel-item-info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.carousel-item-info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--background);
    border: 1px solid #262626;
    border-radius: 28px;
    padding: 7px 10px;
}

.carousel-item-info-box p{
    color: var(--white);
    font-size: 0.90rem;
}

.carousel-item-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-item-price div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.carousel-item-price p{
    font-size: 1.125rem;
    color: #999999;
}

.carousel-item-price h2{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 400;
}

.slider-arrow{
    display: flex;
    gap: 10px;
}

.slider-arrow my-icon{
    background-color: var(--gray);
    height: 58px;
    width: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}