.all-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #1a1a1a;
    gap: 24px;
}

.card-inv {
    background: #101010;
    border: 1px solid #222;
    border-radius: 12px;
    padding: 35px;
}

.card-inv-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 14px;
}
.card-inv h1 {
    font-size: 24px;
    color: #ffffff;
    margin: 12px 0 8px;
}

.card-inv p {
    font-size: 18px;
    color: #999999;
    line-height: 150%;
}
@media (max-width: 1024px) {
    .all-cards {
        grid-template-columns: 1fr;
    }
}
