* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 162px;
    gap: 40px;
    background-image: url(../../assets/images/footerBackground.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid #262626;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
    gap: 20px;
}

.footer-content h1 {
    color: #ffffff;
    font-size: 2rem;
}

.footer-content p {
    color: #999999;
    line-height: 1.6;
    font-size: 1rem;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    padding: 80px 162px;
    background: #050505;
}

.footer2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 360px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.footer-logo h1 {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.newsletter {
    max-width: 520px;
}

.newsletter-field {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 18px 24px;
    background: #111;
    border-radius: 18px;
    border: 1px solid #222;
}

.newsletter-field input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

.newsletter-field input::placeholder {
    color: #999;
}

.icon-left,
.icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-right {
    border: none;
    background: transparent;
    cursor: pointer;
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 140px));
    column-gap: 40px;
}

.footer-col h3 {
    font-size: 15px;
    margin-bottom: 16px;
    color: white;
}

.footer-col ul {
    list-style: none;
}

.footer-col li {
    font-size: 13px;
    color: #b3b3b3;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 162px;
    background: #050505;
    border-top: 1px solid #1a1a1a;
}

.footer-bottom-content {
    display: flex;
    gap: 40px;
}

.footer-bottom-content span {
    color: white;
    font-size: 13px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 14px;
}

@media (max-width: 1024px) {
    .footer1 {
        flex-direction: column;
        padding: 40px 20px;
        text-align: center;
        gap: 20px;
    }

    .footer-content {
        align-items: center;
        max-width: 100%;
    }

    .btn {
        width: 100%;
    }

    .footer-main {
        flex-direction: column;
        padding: 40px 20px;
        gap: 40px;
    }

    .footer2 {
        min-width: 100%;
    }

    .footer-links {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 30px;
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px;
    }
}
