<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../../styles/global.css">
    <script src="../icons/icons.js"></script>
</head>
<body>
    <section class="service-banner">
        <div class="service-box">
            <my-icon iconName="arrow" class="service-box-arrow"></my-icon>
            <my-icon iconName="home" ></my-icon>
            <p>Find Your Dream Home</p>
        </div>
        <div class="service-box">
            <my-icon iconName="arrow" class="service-box-arrow"></my-icon>
            <my-icon iconName="money" ></my-icon>
            <p>Find Your Dream Home</p>
        </div>
        <div class="service-box">
            <my-icon iconName="arrow" class="service-box-arrow"></my-icon>
            <my-icon iconName="apartment" ></my-icon>
            <p>Find Your Dream Home</p>
        </div>
        <div class="service-box">
            <my-icon iconName="arrow" class="service-box-arrow"></my-icon>
            <my-icon iconName="home" ></my-icon>
            <p>Find Your Dream Home</p>
        </div>
    </section>
</body>
</html>