.contact-banner {
    width: 100vw;
    display: flex;
    gap: 20px;
    padding-block: 20px;
    background-color: var(--gray);
    border: 1px solid #262626;
    outline: 10px solid var(--background);
}

.contact-box {
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 40px 20px;
    border: 1px solid #262626;
    background-color: var(--background);
    border-radius: 12px;
}

.contact-box p {
    font-size: 1.25rem;
    color: var(--white);
    text-align: center;
}

.contact-box-arrow {
    position: absolute;
    right: 20px;
    top: 20px;
}

@media (max-width: 1024px) {
    .contact-banner {
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 12px;
    }
    .contact-box {
        width: 45%;
    }
}
