.about-page {
    min-height: 100vh;
    width: 100%;
    background: var(--background, #050608);
    color: var(--white, #f5f5f5);
    background-color: #141414;
}

.about-page-header {
    max-width: 1200px;
    margin: 5rem auto 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.about-page-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-page-text h1 {
    font-size: 45px;
    color: var(--white);
    line-height: 150%;
}

.about-page-text p {
    font-size: 18px;
    line-height: 150%;
    color: #999999;
}

.hero-info-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

.hero-info-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    background-color: var(--background);
    border: 1px solid #262626;
    border-radius: 12px;
}

.hero-info-box h1 {
    color: var(--white);
    font-weight: 700;
    font-size: 40px;
}

.hero-info-box p {
    font-size: 18px;
    color: #999999;
}

.about-page-header img {
    max-width: 480px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 18px;
}

.values-section {
    max-width: 1200px;
    margin: 0 auto 6rem;
    display: flex;
    gap: 80px;
    align-items: flex-start;
}

.values-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.values-text h1 {
    font-size: 48px;
    color: var(--white);
    line-height: 150%;
}

.values-text p {
    font-size: 18px;
    line-height: 150%;
    color: #999999;
}

.values-cards {
    flex: 1.6;
    background: #141414;
    border-radius: 12px;
    border: 1px solid #262626;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.values-item:nth-child(1),
.values-item:nth-child(2) {
    border-bottom: 1px solid #242424;
}
.values-item:nth-child(1),
.values-item:nth-child(3) {
    border-right: 1px solid #242424;
}

.values-item-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.values-item-header my-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #865dff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.values-item h3 {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.values-item p {
    font-size: 18px;
    line-height: 150%;
    color: #999999;
    margin: 10px;
}

.achievements-section {
    max-width: 1200px;
    margin: 0 auto 5rem;
    padding: 0;
    color: #999999;
}

.achievements-header {
    max-width: 700px;
    margin-bottom: 2.5rem;
}

.achievements-header h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    color: white;
}

.achievements-header p {
    font-size: 18px;
    line-height: 150%;
    color: #999999;
}

.achievements-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
}

.achievement-card {
    background: #171717;
    border-radius: 12px;
    border: 1px solid #2c2c2c;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.achievement-card h3 {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.achievement-card p {
    font-size: 18px;
    line-height: 150%;
    color: #c4c4c4;
}

.navigatingTheEstateinExperienceSection {
    max-width: 1200px;
    margin-left: 162px;
    margin-right: 162px;
    padding: 0;
    color: #999999;
}

.stepCardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 330px;
    column-gap: 20px;
    row-gap: 50px;
}

.allMembers {
    display: flex;
    justify-self: center;
    gap: 30px;
    margin-top: -80px;
}

.meetTheTeamSection {
    padding-left: 162px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.title-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 150px;
    margin-bottom: 80px;
}

.title-text h1 {
    font-size: 2.4rem;
    color: var(--white);
    line-height: 1.3;
}

.title-text p {
    font-size: 0.9rem;
    line-height: 1.7;
    color: #999999;
}

@media (max-width: 600px) {
    .navigatingTheEstateinExperienceSection {
        margin-inline: 20px;
    }
    .title-text{
        min-width: 500px;  
    }
    .stepCardsContainer{
        min-width: 500px;
        display: flex;
        flex-direction: column;
    }
    .meetTheTeamSection{
        padding-inline: 20px;
    }
    .allMembers{
        display: flex;
        flex-direction: column;
    }
}    
