.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero{
    background-image: url('../../assets/images/heroBackground.png');
    width: 100%;
    background-color: var(--gray);
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.hero-text h1{
    width: 60%;
    margin-top: 9rem;
    font-size: 3.5rem;
    color: var(--white);
}

.hero-text p{
    font-size: 1.125rem;
    width: 60%;
    color: #999999;
}