.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero{
    background-image: url('../../assets/images/heroBackground.png');
    width: 100%;
    background-color: var(--gray);
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    margin-block: 9rem;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.hero-text h1{
    width: 60%;
    font-size: 3.5rem;
    color: var(--white);
}

.hero-text p{
    font-size: 1.125rem;
    width: 60%;
    color: #999999;
}

.hero-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-info-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.hero-info-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 16px 24px;
    background-color: var(--background);
    border: solid 1px #262626;
    border-radius: 12px;
}

.hero-info-box h1{
    color: var(--white);
    font-weight: bold;
    font-size: 2.5rem;
}

.hero-info-box p{
    font-size: 1.125rem;
    color: #999999;
    margin-right: 1rem;
}
