.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section{
    background-image: url(../../assets/images/heroBackground.png);
}