.propertiesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 162px;
    padding-right: 162px;
}

p{
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem; 
    line-height: 150%;
    color: #999999;
}

.searchForAPropertyContainer{   
    height: 205px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: -52px; 
}

.searchBarContainer{
    width: 80%;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 10px;
    padding-bottom: 0px;
    min-width: fit-content;
}

.searchBar{
    height: 100%;
    width: 100%;   
    background-color: #141414;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: solid #262626 1px;
    min-width: fit-content;
}

.searchInput{
    background: transparent;
    border: none;
    outline: none;
    color: #999999;
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 150%;
}

/*at 762px the button should change*/

.searchFiltersContainer{
    background-color: #1A1A1A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    padding: 10px;
    min-width: fit-content;
}

.filterNo1{
    background-color: #141414;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px #262626 solid;
    border-radius: 12px;
    padding: 20px 15px 20px 15px;
}

.leftContainerInFilters{
    width: 100%;
    display: flex;
    gap: 10px;
}

.leftContainerInFilters p{
    width: 130px;
    border-left: 1px solid #262626;
    padding-left: 10px;
}

.dropDownSVG{
    background-color: #1A1A1A;
    border-radius: 60px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letsMakeItHappenHeader {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.letsMakeItHappenHeader h1 {
    font-size: 2.4rem;
    font-weight: 600; 
    color: white;
}

.mainFormContainer{ 
    width: 100%;
    margin-bottom: 150px;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 100px;
}

.mainForm{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.formRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    gap: 16px;
}

.inputTable{
    background-color: #1A1A1A;
    padding: 14px 20px 14px 20px;
    border: solid 1px #262626;
    border-radius: 8px;
}

.budgetFormRow {
    display: flex;
    gap: 50px;
}

.budgetFormRow > div {
    flex: 1;
}

.contactMethod {
    display: flex;
    gap: 16px;
}

.contactMethod > div {
    flex: 1;
}


.messageFormRow{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.messageInputTable{
    height: 170px;
    width: 100%;
    background-color: #1A1A1A;
    padding: 24px 20px 24px 20px;
    border: solid 1px #262626;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.termsFormRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.termsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.termsContainer input{
    width: 28px;
    height: 28px;
    background-color: #1A1A1A;
    border: solid 1px #262626;
    border-radius: 4px;
}

.termsContainer label{
    color: #4C4C4C;
}

@media (max-width: 600px) {
  .searchBarContainer {
    min-width: 400px;
    width: 100%;
    border-radius: 12px;
    padding-bottom: 10px;
    margin-top: 500px;
  }
  .searchBar{
    border-radius: 12px;
    }
  .searchFiltersContainer {
    flex-direction: column;
    min-width: 400px;
    align-items: stretch;
    gap: 10px;
    margin-top: 20px; 
  }

  .filterNo1 {
    width: 100%;
  }
  .mainFormContainer {
    padding: 20px;
  }

  .formRow,
  .budgetFormRow,
  .contactMethod,
  .termsFormRow {
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
  }

  .mainFormContainer{
    min-width: 400px;
  }

  .questions,
  .contactMethod > div,
  .budgetFormRow > div {
    width: 100%;
  }

  .messageInputTable {
    width: 100%;
  }

  .termsFormRow > custom-button {
    width: 100%;
  }
      custom-slider {
        margin-top: 600px;
        display: block;
    }
    .letsMakeItHappenHeader{
        min-width: 400px;
    }

}





