* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "myFirstFont";
    src: url("../assets/fonts/DMSans.ttf");
}

:root {
    
}

body {
    font-family: myFirstFont;
}