<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../index.css" />
        <script src="../../button/button.js"></script>
        <link rel="stylesheet" href="/components/button/index.css" />
        <link rel="stylesheet" href="../../../styles/global.css">
        <script src="/components/slider/faq/faqSlider.js"></script>
    </head>
    <body>
            <faq-slider class="carousel"></faq-slider>
    </body>
</html>
